<style>
  .container { width: 800px; font-family: Arial, Helvetica, sans-serif; align-items: center; display: flex;
  flex-direction: column; }
</style>

<div class='container'>
  <span>Oi, {{name}} </span>
  <br />
  <br />
  <span>Teste de envio de email: {{body}}</span>
  <br />
  <h3>Equipe | <strong>Flex</strong></h3>
</div>